@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth ;
}

body {
    @apply dark:bg-dark bg-gray-300 text-gray-100 dark:text-white text-black;
}

label {
    @apply dark:text-white text-black font-bahnschrift;
}

button {
    @apply dark:bg-slate-900 text-black font-bahnschrift;
}

p {
    @apply dark:text-white md:font-extralight text-black font-bahnschrift;
}

h1 {
    @apply dark:text-white md:font-extrabold dark:text-white text-black font-bahnschrift;
}


input {
    /* Text and background color */
    color: black;
    background-color: #f8f8f8;
  
    /* Border */
    border: 1px solid #a0a0a0;
    border-radius: 4px;
  
    /* Spacing and padding */
    padding: 0.5rem;
    
    /* Remove default outline */
    outline: none;
  
    /* Transition and focus styles */
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  /* Input focus styles */
  input:focus {
    border-color: #666666;
    box-shadow: 0 0 0 4px rgba(2, 125, 255, 0.5);
  }
  
.profpic {
    @apply h-8 w-8 rounded-full
}

nav {
    @apply relative w-full flex flex-wrap items-center justify-between py-3 
}

.navigation-menu {
    @apply container flex flex-wrap items-center justify-between
}

li {
    width: 266.33px;
    height: 47px;
    background-color: #d9d9d9;
    mix-blend-mode: overlay;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    margin: 0 15px;
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 1;
    z-index: 0;
  }
  
  li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
  }

ul {
    @apply flex;
    margin-left: 0px;
}



.navbar-logo {
    margin-left: 50px;
}

.splash {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333333;
}
